@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Italianno&display=swap');


body{
    background-color: antiquewhite;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 70px;
}

.transparent-background {
    background-color: rgba(51, 170, 51, .1);
}
/* Navigation bar */

.active_page {
    background-color: antiquewhite;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.contact_icons {
    color: black;
    font-size: 150%;
}

/* Footer */

footer i {
    font-size: 200%;
    padding: 3%;
    color: antiquewhite
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}