@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Italianno&display=swap');

/* Footer */

footer i {
    font-size: 200%;
    padding: 3%;
    color: #BD3C31
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}