{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<div class="w-75 mx-auto py-5">
    <form action="." method="POST">
        {% csrf_token %}

        <h3>Do you want to cancel the booking "{{ booking.booking_id }}"?</h3>

        <button class="btn bg-success text-white" type="submit">Yes</button>

        <a class="btn bg-success text-white" href="{% url 'manage_booking' %}">
            Cancel
        </a>
    </form>
</div>
{% else %}

Please login to cancel your booking

{% endif %}

{% endblock %}