{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-12 mt-3">
        <div class="w-75 mx-auto mt-2 text-center">
            <h1>
                Welcome to Pawfection Parlour
            </h1>

            <br>

            <h3>
               Only the best care for your best friend 
            <h3>
        </div>
    </div>
</div>
<br>
<div class="col-12 text-center">
    <a href="{% url 'online_booking' %}">
    <button type="submit" class="btn bg-success text-white">Book Now</button>
</a>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="row">
                <img class="w-75 mx-auto" id="banner"
                    src="https://res.cloudinary.com/dkxv7amyg/image/upload/v1652533153/Cover_Photo_fmjasj.jpg"
                    alt="homepage_banner">
            </div>
        </div>
        </div>
    </div>
</div>
<br>

{% endblock %}