{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="row">
                <img class="w-75 mx-auto" id="banner"
                    src="https://res.cloudinary.com/dkxv7amyg/image/upload/v1652533153/Cover_Photo_fmjasj.jpg"
                    alt="homepage_banner">
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <a class="nav-link text-white btn bg-success mx-auto mt-5 d-block fit-width"
                    href="">
                    Book Now
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mt-3">
                <div class="w-75 mx-auto mt-2 text-center">
                    <h3>
                        Welcome to Pawfection Parlour
                    </h3>

                    <br>

                    <p>
                    </p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}