{% extends "base.html" %}
{% block content %}

<div class="container">
  <h1 class="text-center text-decoration-underline py-3 ">Services</h1>
  <div class="row">
    <div class="col-md-4 col-12 text-center">
      <h3 class="text-decoration-underline py-3">The Works</h3>
      <ul class="list-group">
        <li class="list-group-item">General Health Check</li>
        <li class="list-group-item">Eyes</li>
        <li class="list-group-item">Nail Clipping / Filing</li>
        <li class="list-group-item">Ear Cleaning / Plucking</li>
        <li class="list-group-item">Shaved Pads</li>
        <li class="list-group-item">Sani-Trim</li>
        <li class="list-group-item">Brushing, De-matting & de-shedding</li>
        <li class="list-group-item">Full Shampoo and Coat Conditioning</li>
        <li class="list-group-item">Anal Glands Expressed</li>
        <li class="list-group-item">Blowdried</li>
        <li class="list-group-item">Full Clipping, Scissoring, Trimming & Styling</li>

      </ul>
      <img src="https://res.cloudinary.com/dkxv7amyg/image/upload/v1652730217/IMG-20220516-WA0021_ecbwt0.jpg"
          alt="white_dog" style="width: 100%;" class="py-3">
    </div>

    <div class="col-md-4 col-12 text-center">
      <h2 class="text-decoration-underline py-3">Wash & Blowdry</h2>
      <ul class="list-group">
        <li class="list-group-item">Full Shampoo and Coat Conditioning</li>
        <li class="list-group-item">Blowdry</li>

      </ul>
      <img src="https://res.cloudinary.com/dkxv7amyg/image/upload/v1652730237/IMG-20220516-WA0014_hheybs.jpg"
          alt="washed_dog" style="width: 100%;" class="py-3">
    </div>

    <div class="col-md-4 col-12 text-center">
      <h2 class="text-decoration-underline py-3">Puppy Pamper</h2>
      <ul class="list-group">
        <li class="list-group-item">General Health Check</li>
        <li class="list-group-item">Eyes - Hair Tidy Up</li>
        <li class="list-group-item">Nail Clipping</li>
        <li class="list-group-item">Ear Cleaning</li>
        <li class="list-group-item">Bath, Brush and Blowdry</li>
        <li class="list-group-item"><p>This is a great introduction into grooming. All puppies should be fully vaccinated</p></li>
      </ul>
      <img src="https://res.cloudinary.com/dkxv7amyg/image/upload/v1652730216/IMG-20220516-WA0018_tbaxfy.jpg"
          alt="Puppy" style="width: 100%;" class="py-3">
    </div>
  </div>
</div>

{% endblock %}