{% extends "base.html" %}
{% block content %}

<div class="container">
  <h1 class="text-center text-decoration-underline py-3 ">Services</h1>
  <div class="row">
    <div class="col-md-4 col-12 text-center">
      <h3 class="text-decoration-underline py-3">The Works</h3>
      <ul class="list-group">
        <li class="list-group-item">Clean</li>
      </ul>
      <img src="https://res.cloudinary.com/dkxv7amyg/image/upload/v1652730217/IMG-20220516-WA0021_ecbwt0.jpg"
          alt="white_dog" style="width: 100%;" class="py-3">
    </div>

    <div class="col-md-4 col-12 text-center">
      <h2 class="text-decoration-underline py-3">Washing</h2>
      <ul class="list-group">
        <li class="list-group-item">washed_dog</li>
      </ul>
      <img src="https://res.cloudinary.com/dkxv7amyg/image/upload/v1652730237/IMG-20220516-WA0014_hheybs.jpg"
          alt="washed_dog" style="width: 100%;" class="py-3">
    </div>

    <div class="col-md-4 col-12 text-center">
      <h2 class="text-decoration-underline py-3">Puppy Pamper</h2>
      <ul class="list-group">
        <li class="list-group-item">Puppy</li>
      </ul>
      <img src="https://res.cloudinary.com/dkxv7amyg/image/upload/v1652730216/IMG-20220516-WA0018_tbaxfy.jpg"
          alt="Puppy" style="width: 100%;" class="py-3">
    </div>
  </div>
</div>

{% endblock %}